<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scorecard</title>
    <style>
        body {
          background-color: #f4f4f9;
          font-family: Arial, sans-serif;
        }
        h1 {
          color: darkblue;
          text-align: center;
        }
        p {
          font-size: 18px;
          color: #333;
        }
      </style>
</head>
<body>
    <h1>Scoreboard App</h1>
</body>
</html>